<h1> <%= current_user.username %>'s Paid Off Debts </h1>

<% @q.each do |completed| %>
    <%= User.find(completed.lender_id).username %>
    <%= number_to_currency(completed.amt) %>
    <%= completed.description %> <br>
<% end %>