<div class="completedheader">
  <h1> <%= current_user.username %>'s Paid Off Debts </h1>
</div>
<div class = "completed">
  <% @q.each do |completed| %>
    <div class="completedcard">
      <h3><%= User.find(completed.lender_id).username %>,
      <%= number_to_currency(completed.amt) %></h3>
      <h4>Description: <%= completed.description %></h4>
    </div>
  <% end %>
</div>
