<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, 
      <% if @user.username %>
        <%= @user.username %>
      <% else %> 
        <%= @user.email %>
      <% end %>
    </h1>
    <p>
      Your friend has paid you back! %><br>
    </p>
    <p>Thanks for using Debt Tracker and have a great day!</p>
  </body>
</html>